.productBox {
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
    text-align: center; /* Center align text and images */
}

.productBox img {
    width: 50%;
    max-width: 100%; /* Ensure image doesn't overflow */
    height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 900px) {
    .productBox img {
        width: 100%; /* Make image full width on smaller screens */
    }
}
